.header{
    background-color: whitesmoke;
    position:fixed;
    height:3.125em;
    width:100%;
    top:0;
    z-index: 99;
}

.scroll{
    background-color: darkgrey;
    position:absolute;
    top:3.125em;
    bottom:0;
    width:100%;
}

.block{
    height:100%;
    width: 100%;
}

.block1{
    background-image: url("images/skyline4.jpg");
    background-repeat: no-repeat;
    background-position:center;
}

.block2 {
    background-image: url("images/Bean.jpg");
    background-repeat: no-repeat;
    background-position:center;
}

.block3{
    background-image: url("images/ChiFlag.jpg");
    background-size:50%;
    background-position: center;
}

.block4{
    background-image: url("images/ChiLights.jpg");
    background-size: 100%;

}

.block5{
    background-image: url("images/records.jpg");
    background-size: 95%;
    background-position: center;

}

.right{
    float:right;
}


.links{
    margin-right: 1.10em;
    padding-top: 1.3em;
}


.inline {
    display: inline;
}


.name{
    font-family: "Helvecta", serif;
    font-size: 3.125em;
    margin:auto;
    text-align: center;
    color:aliceblue;
    padding-top: 0.5em;
}

.name2{
    font-family: "Helvecta", serif;
    font-size: 1.875em;
    margin:auto;
    margin-top:25em;
    text-align: center;
    color:aliceblue;
}


.comingsoon{
    font-family: "Helvecta", serif;
    font-size: 4.375em;
    margin-left:37%;
    padding-top:7%;
    color:aliceblue;
}

.profpic{
    height: 40%;
    width: 60%;
    border: 0.9375em solid black;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
}

.profpic2wrapper{
    padding-top: 50px;
}

.text{
    background-color:rgba(255,255,255,.85);
    border:0.0625em;
    color: black;
    line-height: 1.44;
    padding:50px;
    border-radius:0.5em;

}

.info1{
    margin: auto;
    display: block;
    padding: 50px;
}

.info1wrapper{
    padding: 50px;
}

.info2{
    position:absolute;
    height:60%;
    width:30%;
    margin-left: 0;
    margin-top: 10%;
}

.info3{
    position:absolute;
    width: 40%;
    height:60%;
    margin-left: 40%;
    margin-top:10%;
}



.contact{
    position:absolute;
    background-color: rgba(255,255,255,.8);
    width: 60%;
    height:60%;
    margin-top:10%;
    margin-left:17%;
    border-radius:0.5em;

}

.contactleft{
    background-color: grey;
    width:40%;
    height:70%;
    float:left;
    margin-top: 5%;
    margin-left: 5%;
    border-radius:0.5em;

}

.contactright{
    background-color: grey;
    width:40%;
    height:70%;
    float:right;
    margin-top: 5%;
    margin-right: 5%;
    border-radius:0.5em;

}

.nameinput{
    width:90%;
    height:15%;
    font-size: 1em;
    margin-top: 6.5%;
    margin-left: 4.5%;
    border-radius:0.5em;

}

.messageinput{
    width:90%;
    height:90%;
    margin-left: 5%;
    margin-top: 4%;
    border-radius:0.5em;
    font-size: 1em;

}

.submit{
    width:10%;
    height:10%;
    margin-right: 5%;
    float:right;
    margin-top: 1%;
    background-color:royalblue;
    color:#ffffff;
}


.linkedin{
    height:3.75em;
    width:3.75em;
}


.facebook{
    height:3.75em;
    width:3.75em;

}

.github{
    height:3.75em;
    width:3.75em;
}

.dribbble{
    height:3.75em;
    width:3.75em;
}

@font-face {
    font-family: "abz";
    src: url(Fonts/ABeeZee-Regular.otf);
}

@font-face {
    font-family: "sinkinsans";
    src: url(Fonts/SinkinSans.otf);
}


.gmail{
    font-family:"abz";
    font-size: 3.125em;
    margin-left:3.125em;
}

.emblem{
    float:left;
    height:3.125em;
    width:3.125em;
    margin-left:0.9375em;
}

.emblem2{
    height:9.375em;
    width:9.375em;
    margin-left: auto;
    margin-right: auto;
}

.emblemwrapper{
    margin:auto;
    text-align: center;
    color:aliceblue;
    padding-top: 7.5em;
}

.headername{
    font-family:sinkinsans;
    margin-left:5em;
    font-size:1.375em;
    margin-top: 0.625em;
}

.thankyou{
    font-family: sinkinsans;
    margin-top:1.5625em;
    margin-left:1.5625em;
    font-size: 1.875em;
}


.profpic3{
    margin-top: 8.125em;
    margin-left: 43%;
    height:18.75em;
    width:15.625em;
}

.info4{
    position:absolute;
    width:50%;
    height:70%%;
    margin-top: 1.875em;
    margin-left:27%;
}

.bio{
    font-family: sinkinsans;
    margin-left:36%;

}

.sinkinsans{
    font-family: sinkinsans;
}

.sinkinsans2{
    font-family: sinkinsans;
    line-height: 2em;
}

.questions{
    font-family: sinkinsans;
    line-height: 2em;
    color: dodgerblue;
}

.biobackground{
    background-image: url("images/Beach2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height:5em;
}

.biofooter{
    margin-top: 100%;
    background-color: #1b1b1b;
    padding:3rem 0;
    width: 100%;
}

.homefooter{
    margin-top: 0em;
    background-color: #1b1b1b;
    padding:3rem 0;
    width: 100%;
}


.copyright{
    color:aliceblue;
    font-family: sinkinsans;
    text-align: center;
    font-size: 0.75em;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi){
    .emblem2{
        margin-left:780;
    }

}





